$body-text-color: #ffffff;
$grey: #ddd;
$submit-button-color: #fd862f;
$submit-button-border: #f5a;
$error: #fc5151;

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: Open Sans bold;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans-Bold.ttf') format('opentype');
}
html {
  min-height: 100vh;
}
body {
  font-family: 'Open Sans', serif;
  color: $body-text-color;
  font-size: 1.5em;
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;
  width: 960px;
  text-align: center;
}

.row {
  display: block;
  height: 100px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

form {
  width: 500px;
  margin: auto;
  text-align: left;
}

input {
  display: block;
  border: 1px solid $grey;
  padding: 15px 20px;
  margin: 7px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: $body-text-color;
}
input[type='submit'] {
  background-color: $submit-button-color;
  cursor: pointer;
  color: $body-text-color;
  font-weight: bold;
  border: 1px solid $submit-button-border;
}
.firstname,
.lastname {
  width: 49%;
  display: inline-block;
}
.firstname {
  margin-right: auto;
}
.lastname {
  float: right;
}

.errors {
  width: 500px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid $error;
  padding: 15px;
  line-height: 1.5em;
  color: $error;
  font-size: 0.6em;
}
h1 {
  text-align: center;
}
@media (max-width: 960px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 600px) {
  form,
  .errors {
    width: 90%;
  }
  .firstname,
  .lastname {
    width: 100%;
    display: block;
    float: none;
  }
}
